/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.taskBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.taskTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.taskSubtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.taskDescription {
  margin-bottom: 1rem;
}

.taskButton {
  margin: 1rem 0.5rem;
  width: 18rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
}

.taskBox {
  padding: 1.5rem;
  margin: 1rem 2rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

